<!DOCTYPE html>
<html lang="pt-br">
    <head>
        
        <%- include('../partials/header') %>
        <title>Dúvidas Frequentes</title>

    </head>

    <body>

        <%- include('../partials/navbar_inst') %>

        <div class="jumbotron">
            <h1 class="display-4">DÚVIDAS FREQUENTES</h1>
        </div>
                
            <%- include('../partials/duvidas') %>

            <%- include('../partials/footer') %>
            
            <%- include('../partials/java') %>

    </body>
</html>