<!DOCTYPE html>
<html lang="pt-br">
    <head>
        
        <%- include('../partials/header') %>
        <title>Histórico</title>

    </head>

    <body>

        <%- include('../partials/navbar_doador') %>
            
        <!--Histórico-->
        <main id="historico grid">
            <div class="container-fluid">

                <div class="jumbotron">
                    <h1 class="display-4">HISTÓRICO</h1>
                </div>
    
                <div class="row"> 
                    
                    <!--Produto 1-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[0] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[0] %>">
                                    <h3 class="card-title"><%= nomes[0] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[0] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[0] %></p>
                                </div>
                            </div>
                        </article>
                    </div>
    
                    <!--Produto 2-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[1] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[1] %>">
                                    <h3 class="card-title"><%= nomes[1] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[1] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[1] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 3-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[2] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[2] %>">
                                    <h3 class="card-title"><%= nomes[2] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[2] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[2] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 4-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[3] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[3] %>">
                                    <h3 class="card-title"><%= nomes[3] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[3] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[3] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 5-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center ">
                        <article class="info <%= esconder[4] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[4] %>">
                                    <h3 class="card-title"><%= nomes[4] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[4] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[4] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 6-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[5] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[5] %>">
                                    <h3 class="card-title"><%= nomes[5] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[5] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[5] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 7-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[6] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[6] %>">
                                    <h3 class="card-title"><%= nomes[6] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[6] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[6] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 8-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[7] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[7] %>">
                                    <h3 class="card-title"><%= nomes[7] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[7] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[7] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 9-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[8] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[8] %>">
                                    <h3 class="card-title"><%= nomes[8] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[8] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[8] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 10-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[9] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[9] %>">
                                    <h3 class="card-title"><%= nomes[9] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[9] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[9] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 11-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[10] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[10] %>">
                                    <h3 class="card-title"><%= nomes[10] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[10] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[10] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!--Produto 12-->
                    <div class="col-sm-12 col-md-6 col-xl-4 d-flex justify-content-center">
                        <article class="info <%= esconder[11] %>">
                            <div class="card" style="width: 20rem; margin-left: 0px;">
                                <div class="card-body <%= esconder[11] %>">
                                    <h3 class="card-title"><%= nomes[11] %></h3>

                                    <h6 class = "card-text">
                                        <i class="bi bi-box-seam"></i>
                                        Produto doado:
                                    </h6>
                                    <p><%= produtos[11] %></p>

                                    <h6 class = "card-text">
                                        <i class="bi bi-calendar"></i>
                                        Data:
                                    </h6>
                                    <p><%= datas[11] %></p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>              
            </div>
        </main>


        <!--Mudar de Página-->
        <h6 class="d-flex justify-content-center">
            <a href="/Historico/<%= paginaAtual-1 %>">
                <i class="bi bi-caret-left-fill" title="Página anterior" style="color: #E67E00;"></i>
            </a>
            
            <p><%= paginaAtual %>/<%= paginas %></p>

            <a href="/Historico/<%= paginaAtual+1 %>">
                <i class="bi bi-caret-right-fill" title="Página seguinte" style="color: #E67E00;"></i>
            </a>
        </h6>

        <%- include('../partials/BotaoDuvidasDoador') %>

        <%- include('../partials/footer') %>
        
        <%- include('../partials/java') %>

    </body>
</html>